<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>CA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>

    <!-- Custom styles for this template -->
    <link href="css/gateway.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">AppliedSecurityLab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <!--Just to take up space-->
        <div class="navbar-nav mr-auto"></div>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Sign Out"/>
        </form>
        -->
    </div>
</nav>

<main role="main">

    <div class="alert alert-primary" role="alert">
        Logged in with roles:
        <span sec:authentication="authorities"></span>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">User info</h4>

                        <!--/*@thymesVar id="user" type="ch.ethz.asl.gateway.User"*/-->
                        <form th:action="@{/user}" th:object="${user}" method="post">

                            <div class="form-group">
                                <label for="firstname">First name:</label>
                                <input class="form-control" id="firstname"
                                       th:classappend="${#fields.hasErrors('firstname')} ? 'is-invalid' : ''"
                                       th:field="*{firstname}"/>
                                <div class="invalid-feedback">
                                    First name is required.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastname">Last name:</label>
                                <input id="lastname" class="form-control"
                                       th:classappend="${#fields.hasErrors('lastname')} ? 'is-invalid' : ''"
                                       th:field="*{lastname}"/>
                                <div class="invalid-feedback">
                                    Last name is required.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input id="email" class="form-control"
                                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                       th:field="*{email}"/>
                                <div class="invalid-feedback">
                                    Please provide a valid email.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input id="password" class="form-control" type="password" th:autocomplete="${false}"
                                       th:classappend="${#fields.hasErrors('passwordOk')} ? 'is-invalid' : ''"
                                       th:field="*{password}"/>
                                <div class="invalid-feedback">
                                    Passwords do not match
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password-confirmation">Confirm password:</label>
                                <input id="password-confirmation" class="form-control" type="password"
                                       th:classappend="${#fields.hasErrors('passwordOk')} ? 'is-invalid' : ''"
                                       th:autocomplete="${false}" th:field="*{passwordConfirmation}"/>
                                <div class="invalid-feedback">
                                    Passwords do not match
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Your certificates</h4>
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Serial #</th>
                                <th scope="col">Issued On</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cert : ${certificates}">
                                <td th:text="${cert.serialNr}"></td>
                                <td th:text="${#dates.format(cert.issuedOn, 'HH:mm, dd-MMM-yyyy')}"></td>
                                <td><a th:href="@{'/ca/cert/' + ${cert.serialNr}}" target="_blank"><i
                                        class="fa fa-download"
                                        aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <h4 class="card-title">Your revoked certificates</h4>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Serial #</th>
                                <th scope="col">Issued On</th>
                                <th scope="col">Revoked On</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cert : ${revokedCerts}">
                                <td th:text="${cert.serialNr}"></td>
                                <td th:text="${#dates.format(cert.issuedOn, 'HH:mm, dd-MMM-yyyy')}"></td>
                                <td th:text="${#dates.format(cert.revokedOn, 'HH:mm, dd-MMM-yyyy')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <br/>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Request new certificate</h4>

                        <form th:action="@{cert}" method="post">
                            <button type="submit" class="btn btn-primary">New Certificate</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<br/>

<footer class="container">
    <p>&copy; ASL 2017</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>
