/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

a.download-cert, a.download-cert:link, a.download-cert:visited, a.download-cert:focus {
    text-decoration: none;
    color: inherit;
}

